* {
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  padding: 0;
  color: var(--text);
}

@font-face {
  font-family: Logo;
  src: url(fonts/logo.otf);
}

:root.light {
  --text: #211212;
  --background: #f9f5f5;
  --primary: #532d2d;
  --secondary: #c4c492;
  --accent: #899f56;
}
:root.dark {
  --text: #eddede;
  --background: #0a0606;
  --primary: #d2acac;
  --secondary: #6d6d3b;
  --accent: #93a960;
  --svg-filter: brightness(0) saturate(100%) invert(2%) sepia(5%)
    saturate(3646%) hue-rotate(314deg) brightness(114%) contrast(99%);
}

button {
  cursor: pointer;
}

.logo {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  font-family: Logo;
  background-color: blue;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 600ms;
}

.nav-bar:hover .logo svg {
  transform: rotate(-540deg);
}

header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 5rem;
  width: 100%;
  /* background-color: var(--accent); */
  font-family: Logo;
  font-size: 1.5rem;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  /* grid-template-rows: 2fr 14fr 1fr; */
}

.theme-and-title {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.image-div {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.image-div img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.content {
  /* display: flex; */
}

.nav-bar {
  position: fixed;
  background-color: var(--secondary);
  transition: width 200ms ease;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 90%;
  /* margin-top: 4rem; */
}

.btn-text {
  display: none;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  text-decoration: none;
}

.nav-item:hover,
.nav-item button:hover {
  background-color: rgb(0 0 0/0.1);
}

nav ul li button {
  width: 100%;
  background-color: var(--secondary);
  border: none;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  margin-top: 4rem;
}

.btn-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%) opacity(0.7);
}

.btn-logo svg {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  /* min-width: 60%; */
  margin: 1rem 1rem;
  filter: var(--svg-filter);
  transition: 600ms;
}

.btn-logo svg:hover {
  filter: grayscale(0%) opacity(1);
}

.nav-item label {
  /* margin: 0 auto; */
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background-color: white;
  border-radius: 20px;
  /* box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), */
  /* inset 0px -05px 15px rgba(255, 255, 255, 0.4); */
  cursor: pointer;
  transition: 0.3s;
}

.nav-item label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s;
}

.nav-item input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background-color: red;
}

input:checked + label:after {
  left: 55px;
  transform: translateX(-100%);
  background-color: white;
}

.theme-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    justify-content: center;
    align-items: center;
  }
  main {
    margin-left: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 600px) {
  .nav-bar {
    height: 100vh;
    width: 5rem;
    top: 0;
  }
  .nav-bar:hover {
    width: 16rem;
  }
  .nav-bar:hover .btn-text {
    display: inline;
    transition: opacity 600ms;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
  .nav-item label {
    /* margin: 0 auto; */
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), */
    /* inset 0px -05px 15px rgba(255, 255, 255, 0.4); */
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-item label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background-color: black;
    border-radius: 50%;
    transition: 0.3s;
  }
}
